[submodule "sites/all/modules/cobalt"]
	path = sites/all/modules/cobalt
	url = git://github.com/hugowetterberg/cobalt.git
[submodule "sites/all/modules/imagecache_action_cover"]
	path = sites/all/modules/imagecache_action_cover
	url = git://github.com/hugowetterberg/imagecache_action_cover.git
[submodule "sites/all/modules/nodeformcols"]
	path = sites/all/modules/nodeformcols
	url = git://github.com/hugowetterberg/nodeformcols.git
[submodule "sites/all/modules/simple_geo"]
	path = sites/all/modules/simple_geo
	url = git://github.com/hugowetterberg/simple_geo.git
[submodule "sites/all/modules/oembed"]
	path = sites/all/modules/oembed
	url = git://github.com/voxpelli/drupal-oembed.git
[submodule "sites/all/modules/cssdry"]
	path = sites/all/modules/cssdry
	url = git://github.com/hugowetterberg/cssdry.git
